/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(25, 204, 249) rgba(11, 11, 11, 0.824);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: rgba(11, 11, 11, 0.824);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(32, 183, 203);
    border-radius: 20px;
    border: 1px solid #101010;
  }
